.pwStrengthLabel {
    display: none;
}
.pwStrengthLabel.shown {
    display: inline;
}
.pwStrengthLabelBad {
    color: red;
}
.pwStrengthLabelOk {
    color: orange
}
.pwStrengthLabelGood {
    color: green;
}

.pwStrengthItem.invalid {
    color: #761c19;
}
.pwStrengthItem.valid {
    color: #0a2b1d;
}
.pwStrengthItem .glyphicon {
    display: none;
}
.pwStrengthItem.valid .glyphicon-ok {
    display: inline-block;
}
.pwStrengthItem.invalid .glyphicon-remove {
    display: inline-block;
}

.passwordMaskBtn {
    cursor: pointer;
}
.passwordMaskBtn .glyphicon {
    display: none;
}
.passwordMaskBtn.masked .glyphicon-eye-open {
    display: inline-block;
}
.passwordMaskBtn.unmasked .glyphicon-eye-close {
    display: inline-block;
}

.dictionaryEntropyBlock {
    display: none;
}
.dictionaryEntropyBlock.shown {
    display: block;
}

.backBtn {
    display: none;
}
.backBtn.show {
    display: block;
}