.pwStrengthLabel {
    display: none;
}
.pwStrengthLabel.active {
    display: inline-block;
}
.pwStrengthLabelBad {
    color: red;
}
.pwStrengthLabelOk {
    color: orange
}
.pwStrengthLabelGood {
    color: green;
}